<%- include('../partials/head') %>
  </head>
  <body class="text-white bg-gradient-to-r from-[#2b84ea] via-[#0d1b58] to-[#02042a] min-h-screen">
      <%- include('../partials/nav') %>
      <main class="container mx-auto px-4 py-10 max-w-6xl">
          <h2 class="text-4xl sm:text-5xl lg:text-6xl text-center mt-1 mb-8 tracking-wide font-bold bg-gradient-to-r from-[#2b84ea] via-blue-400 to-cyan-300 text-transparent bg-clip-text">
              Details of <span class="bg-gradient-to-r from-orange-500 to-orange-800 text-transparent bg-clip-text"><%= home.houseName %></span>
          </h2>
          
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8 bg-gray-800/90 backdrop-blur-md rounded-2xl shadow-2xl p-6 border border-white">
              <div class="rounded-lg overflow-hidden">
                  <img src="<%= home.photo %>" alt="<%= home.name %>" class="w-full h-96 object-cover rounded-lg">
              </div>
              
              <div class="space-y-6">
                  <div class="border-b border-white/30 pb-4">
                      <h3 class="text-2xl font-semibold text-orange-500 mb-2">Description</h3>
                      <p class="text-white/80"><%= home.description %></p>
                  </div>

                  <div class="border-b border-white/30 pb-4">
                      <h3 class="text-2xl font-semibold text-orange-500 mb-2">Location</h3>
                      <p class="text-white/80"><%= home.location %></p>
                  </div>
                  
                  <div class="border-b border-white/30 pb-4">
                      <h3 class="text-2xl font-semibold text-orange-500 mb-2">Price</h3>
                      <p class="text-purple-500 text-xl font-bold">Rs <%= home.price %> / night</p>
                  </div>
                  
                  <div class="border-b border-white/30 pb-4">
                      <h3 class="text-2xl font-semibold text-orange-500 mb-2">Rating</h3>
                      <div class="flex items-center">
                          <span class="text-yellow-400 text-xl">★</span>
                          <span class="ml-2 text-lg"><%= home.rating %> / 5</span>
                      </div>
                  </div>
                  <div class="mt-2">
                    <%- include('../partials/favourite') %>
                  </div>
              </div>
          </div>
      </main>
  </body>
</html>